<div data-controller="map"
  <% if @scorecard%>
    data-map-latitude="<%= @scorecard.latitude %>"
    data-map-longitude="<%= @scorecard.longitude %>"
  <% end %>
>
  <% unless @scorecard %>
    <div id="map_header">
      <h1>Do you live in London?</h1>

      <form action="<%= root_path %>" method="get">
        <label for="postcode">Type in your postcode and find out how in London you are:</label>
        <input type="text" id="postcode" name="postcode" value="<%= params[:postcode] %>">
        <input type="submit" value="Submit">
      </form>
    </div>
  <% end %>

  <% if @error %>
    <div class="score_total">
      <h2><%= @error %></h2>
    </div>
  <% elsif @scorecard %>
    <div class="score_total">
      <h2><span class="postcode"><%= params[:postcode] %></span> is <span class="percentage"><%= @scorecard.percentage_of_max_score %>%</span> in London</h2>
      <p><%= link_to "Try another postcode", root_path %></p>
    </div>

    <div id="map"></div>

    <% if @scorecard.scores.any? %>
      <div class="scores_header">
        <h2>Here are the things that put <%= params[:postcode] %> in London</h2>
      </div>
    <% end %>

    <% @scorecard.scores.sort_by { |s| -s.points }.each do |score| %>
      <% if score.geojson.present? %>
        <div class="score" data-geojson="<%= score.geojson %>" data-action="click->map#showArea">
      <% elsif score.geo_point.present? %>
        <div class="score" data-geopoint="<%= score.geo_point.to_json %>" data-action="click->map#showPoint">
      <% else %>
        <div class="score" data-action="click->map#clearMap">
      <% end %>
        <div class="score_content">
          <%= render partial: "/home/scores/#{score.template}", locals: {score: score} %>
        </div>
        <div class="points">
          <%= score.points %><p>points</p>
        </div>
      </div>
    <% end %>

    <% if @scorecard.misses.any? %>
      <div class="misses_header">
        <h2>Here are the things keeping <%= params[:postcode] %> from being more London</h2>
      </div>

      <% @scorecard.misses.sort_by { |s| -s.points }.each do |score| %>
        <% if score.geo_point.present? %>
          <div class="score miss" data-geopoint="<%= score.geo_point.to_json %>" data-action="click->map#showPoint">
        <% else %>
          <div class="score miss" data-action="click->map#clearMap">
        <% end %>
          <div class="score_content">
            <%= render partial: "/home/misses/#{score.template}", locals: {score: score} %>
          </div>
          <div class="points">
            -<%= score.points %><p>points</p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>