<header>
  <h1>
    <%= link_to root_path do %>
      <span class="james">James Darling's</span>
      Londometer
    <% end %>
  </h1>
</header>
<div data-controller="map"
  <% if @scorecard%>
    data-map-latitude="<%= @scorecard.latitude %>"
    data-map-longitude="<%= @scorecard.longitude %>"
  <% end %>
>
  <% unless @scorecard %>
    <div id="intro">
      <div class="card">
        <p>Where does London start and end? Do you live in the heart of London, or just on the edge?</p>
        <p>Some say you're in London if you're within the M25, others say London ends at Zone 2. These arbitrary lines are too simple.</p>
        <p>James Darling's Londometer uses data and maths to create a much more complicated arbitrary percentage</p>
      </div>
      <form action="<%= root_path %>" method="get">
        <label for="postcode">Type your postcode below to find out how confidently you can say you live in London.</label>
        <br />
        <input type="text" id="postcode" name="postcode" value="<%= params[:postcode] %>">
        <input type="submit" value="Submit">
      </form>
    </div>
  <% end %>

  <% if @error %>
    <div class="score_total">
      <h2><%= @error %></h2>
    </div>
  <% elsif @scorecard %>
    <div class="score_total">
      <div class="gauge-container" data-controller="gauge" data-gauge-percentage-value="<%= @scorecard.percentage_of_max_score %>">
        <svg class="gauge" viewBox="0 0 200 120" xmlns="http://www.w3.org/2000/svg">
          <!-- Background arc -->
          <path class="gauge-background" d="M 20 100 A 80 80 0 0 1 180 100" fill="none" stroke-width="20" stroke-linecap="round"/>

          <!-- Colored segments -->
          <path class="gauge-segment gauge-segment-low" d="M 20 100 A 80 80 0 0 1 68 32" fill="none" stroke-width="20" stroke-linecap="round"/>
          <path class="gauge-segment gauge-segment-medium" d="M 68 32 A 80 80 0 0 1 132 32" fill="none" stroke-width="20" stroke-linecap="round"/>
          <path class="gauge-segment gauge-segment-high" d="M 132 32 A 80 80 0 0 1 180 100" fill="none" stroke-width="20" stroke-linecap="round"/>

          <!-- Center circle -->
          <circle cx="100" cy="100" r="8" class="gauge-center"/>

          <!-- Needle -->
          <line x1="100" y1="100" x2="100" y2="35" class="gauge-needle" stroke-width="3" stroke-linecap="round"/>
        </svg>
      </div>
      <h2><span class="postcode"><%= params[:postcode] %></span> is <span class="percentage"><%= @scorecard.percentage_of_max_score %>%</span> in London</h2>
      <p><%= link_to "Try another postcode", root_path %></p>
    </div>

    <div id="map"></div>

    <% if @scorecard.scores.any? %>
      <div class="scores_header">
        <h2>Here are the things that put <%= params[:postcode] %> in London</h2>
      </div>
    <% end %>

    <% @scorecard.scores.sort_by { |s| -s.points }.each do |score| %>
      <% if score.geojson.present? %>
        <div class="score" data-geojson="<%= score.geojson %>" data-action="click->map#showArea">
      <% elsif score.geo_point.present? %>
        <div class="score" data-geopoint="<%= score.geo_point.to_json %>" data-action="click->map#showPoint">
      <% else %>
        <div class="score" data-action="click->map#clearMap">
      <% end %>
        <div class="score_content">
          <%= render partial: "/home/scores/#{score.template}", locals: {score: score} %>
        </div>
        <div class="points">
          <%= score.points %><p>points</p>
        </div>
      </div>
    <% end %>

    <% if @scorecard.misses.any? %>
      <div class="misses_header">
        <h2>Here are the things keeping <%= params[:postcode] %> from being more London</h2>
      </div>

      <% @scorecard.misses.sort_by { |s| -s.points }.each do |score| %>
        <% if score.geo_point.present? %>
          <div class="score miss" data-geopoint="<%= score.geo_point.to_json %>" data-action="click->map#showPoint">
        <% else %>
          <div class="score miss" data-action="click->map#clearMap">
        <% end %>
          <div class="score_content">
            <%= render partial: "/home/misses/#{score.template}", locals: {score: score} %>
          </div>
          <div class="points">
            -<%= score.points %><p>points</p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>