<div data-controller="map"
  <% if @scorecard%>
    data-map-latitude="<%= @scorecard.latitude %>"
    data-map-longitude="<%= @scorecard.longitude %>"
  <% end %>
>
  <form action="<%= root_path %>" method="get">
    <label for="postcode">Postcode:</label>
    <input type="text" id="postcode" name="postcode" value="<%= params[:postcode] %>">
    <input type="submit" value="Submit">
  </form>

  <%= @error %>

  <% if @scorecard %>
    <div id="map" style="height: 300px"></div>

    <h2><%= @scorecard.total_points %> total points!</h2>
    <% @scorecard.scores.each do |score| %>
      <div class="score" data-geojson="<%= score.geojson %>" data-action="click->map#showArea">
        <h3><%= score.name %></h3>
        <p><%= score.description %></p>
        <p>Points: <%= score.points %></p>
      </div>
    <% end %>
  <% end %>
</div>