<div data-controller="map"
  <% if @scorecard%>
    data-map-latitude="<%= @scorecard.latitude %>"
    data-map-longitude="<%= @scorecard.longitude %>"
  <% end %>
>
  <div id="map_header">
    <h1>Do you live in London?</h1>

    <form action="<%= root_path %>" method="get">
      <label for="postcode">Type in your postcode and find out how in London you are:</label>
      <input type="text" id="postcode" name="postcode" value="<%= params[:postcode] %>">
      <input type="submit" value="Submit">
    </form>
  </div>

  <% if @error %>
    <div class="score_total">
      <h2><%= @error %></h2>
    </div>
  <% elsif @scorecard&.total_points == 0 %>
    <div class="score_total">
      <h2>That's not even close to London</h2>
    </div>
  <% elsif @scorecard %>
    <div class="score_total">
      <h2><%= params[:postcode] %> is <%= @scorecard.percentage_of_max_score %>% in London</h2>
    </div>

    <div id="map"></div>

    <div class="score_total">
      <h2>Here are the things that put <%= params[:postcode] %> in London</h2>
    </div>

    <% @scorecard.scores.each do |score| %>
      <% if score.geojson.present? %>
        <div class="score" data-geojson="<%= score.geojson %>" data-action="click->map#showArea">
      <% elsif score.geo_point.present? %>
        <div class="score" data-geopoint="<%= score.geo_point.to_json %>" data-action="click->map#showPoint">
      <% else %>
        <div class="score" data-action="click->map#clearMap">
      <% end %>
        <%= render partial: "/home/scores/#{score.template}", locals: {score: score} %>
      </div>
    <% end %>
  <% end %>
</div>